<!--1-->
<header class="masthead header-image">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Welcome To</span></div>
            <div class="intro-heading text-uppercase"><span>  Deals &amp; Coupons </span></div>
        </div>
    </div>
</header>
<!--1-->

<!--2-->
<section id="services" style="background-color: rgb(238, 252, 255);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color:blue;font-size: 40px;text-transform: uppercase;">Services</h2>
                <h3 style="padding: 20px 0;color:rgb(0, 0, 0)">We offer Best Services for you!</h3>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-md-4" data-bss-hover-animate="pulse">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
                </span>
                <h4 style="padding-top: 10px;color: rgb(222, 16, 16);">Best Deals</h4>
                <p style="padding-top: 20px;color: black;">If you think that you need&nbsp;a <strong>Great Deal&nbsp;</strong>then visit Our
                    Website.<br><br></p>
            </div>
            <div class="col-md-4" data-bss-hover-animate="pulse">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-eercast fa-stack-1x fa-inverse"></i>
                </span>
                <h4 style="padding-top: 10px;color: rgb(222, 16, 16);">Offers &amp; Discounts<br></h4>
                <p style="padding-top: 20px;color: black;">We are providing<strong> Exclusive Offers &amp; Discounts </strong>on what you want!&nbsp;</p>
            </div>
            <div class="col-md-4" data-bss-hover-animate="pulse">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-gittip fa-stack-1x fa-inverse"></i>
                </span>
                <h4 style="padding-top: 10px;color: rgb(222, 16, 16);">Free Coupons</h4>
                <p style="padding-top: 20px;color: black;">You can't find <strong>Free Coupons</strong> like we are Providing!</p>
            </div>
        </div>
    </div>
</section>
<!--2-->

<!--3-->
<section id="partner" style="padding-top: 20px;padding-bottom: 100px;background-color: rgb(255, 245, 188);">
    <div class="container"><!--container is used to represent the items in small box line in specified length where container-fluid is used then the items will be shown randomly as it depends on size of screen-->

        <div class="col-lg-12">
            <h2 style="font-size: 40px;text-transform: uppercase;padding-top: 100px;padding-bottom: 100px;text-align: center;">our partners</h2>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4 partner-item" data-bss-hover-animate="bounce">
                <a class="partner-link" href="#partnerModal1" data-bs-toggle="modal">
                    <div class="partner-hover">
                        <div class="partner-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid"
                        src="https://play-lh.googleusercontent.com/G7jAks-PRl4d7IkL-s3Ir44nGyPq0Yh872N5UMwZYIJz4wG1Oj0DqoQjsAR5ddKZbQ">
                </a>
                <div class="partner-caption">
                    <h4>Amazon</h4>
                    <p class="text-muted"><strong>Work hard.</strong>&nbsp;<strong>Have fun.</strong>&nbsp;<strong>Make
                            history.</strong><br></p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 partner-item" data-bss-hover-animate="bounce"><a class="partner-link"
                    href="#partnerModal2" data-bs-toggle="modal">
                    <div class="partner-hover">
                        <div class="partner-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid"
                        src="https://www.bitrefill.com/content/cn/b_rgb%3AFFFFFF%2Cc_pad%2Ch_600%2Cw_1200/v1553602667/flipkart.jpg">
                </a>
                <div class="partner-caption">
                    <h4>Flipkart</h4>
                    <p class="text-muted"><strong>Ab Har Wish Hogi Poori</strong><br></p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 partner-item" data-bss-hover-animate="bounce"><a class="partner-link"
                    href="#partnerModal3" data-bs-toggle="modal">
                    <div class="partner-hover">
                        <div class="partner-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid"
                        src="https://images.livemint.com/img/2021/12/06/1600x900/WhatsApp_Image_2020-05-22_at_11.41.40_1590127957394_1590127957628_1638785122012.jpeg">
                </a>
                <div class="partner-caption">
                    <h4>Myntra</h4>
                    <p class="text-muted"><strong>India’s Largest Online Fashion Store</strong><br></p>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade text-center partner-modal" role="dialog" tabindex="-1" id="partnerModal1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">amazon</h2>
                            <p class="text-muted item-intro"><strong>Kya Nahi Milega! Amazon hai, Apna
                                    Dukaan</strong><br></p>
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image"
                                            src="https://static.businessworld.in/article/article_extra_large_image/1597056012_CNRvas_amazon_dkblue_noto_email_v2016_us_main_CB468775337_.png">
                                    </div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://www.adweek.com/wp-content/uploads/2019/07/back-school-amazon-CONTENT-2019.jpg"
                                            alt="Slide Image"></div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://timesofindia.indiatimes.com/photo/86699690.cms"
                                            alt="Slide Image"></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-1" role="button"
                                        data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                            class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                        href="#carousel-1" role="button" data-bs-slide="next"><span
                                            class="carousel-control-next-icon"></span><span
                                            class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <p>Amazon, is an American electronic commerce and cloud computing company with headquarters
                                in Seattle, Washington. It is the largest Internet-based retailer in the world by total
                                sales and market capitalization.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Amazon Website</li>
                                <li><a href="https://www.amazon.in/" target="_blank"><button class="btn btn-primary"
                                            type="button" style="border-radius: 59px;">Amazon</button></a></li>
                            </ul><button class="btn btn-danger" type="button" data-bs-dismiss="modal"
                                style="border-radius: 8px;"><i
                                    class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-center partner-modal" role="dialog" tabindex="-1" id="partnerModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">flipkart</h2>
                            <p class="text-muted item-intro"><strong>If it’s trendy, it’s on Flipkart</strong><br></p>
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-2">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image"
                                            src="https://www.logotaglines.com/wp-content/uploads/2016/08/flipkart-new-logo.bmp">
                                    </div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://img.theweek.in/content/dam/week/news/biz-tech/images/2019/7/3/flipkart.jpg"
                                            alt="Slide Image">
                                    </div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://www.shopickr.com/wp-content/uploads/2016/04/flipkart-india-offers-zone-deals-of-the-day-best-discounts-offers-coupons-banner.jpg"
                                            alt="Slide Image">
                                    </div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-2" role="button"
                                        data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                            class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                        href="#carousel-2" role="button" data-bs-slide="next"><span
                                            class="carousel-control-next-icon"></span><span
                                            class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <p>Flipkart is an e-commerce company founded in 2007 by Sachin Bansal and Binny
                                Bansal.&nbsp;<strong>This Indian e-commerce store has brought a revolution in the Indian
                                    e-retail industry</strong>. Youth and adults rely on the internet to buy stuff at
                                affordable prices with amazing return policies and guarantee. One such e-commerce
                                platform that is tremendously successful is&nbsp;<strong>Flipkart</strong>.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Flipkart Website<br></li>
                                <li><a target="_blank" href="https://www.flipkart.com/"><button class="btn btn-primary"
                                            type="button" style="border-radius: 59px;">Flipkart</button></a></li>
                            </ul><button class="btn btn-danger" type="button" data-bs-dismiss="modal"><i
                                    class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-center partner-modal" role="dialog" tabindex="-1" id="partnerModal3">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">myntra</h2>
                            <p class="text-muted item-intro">Make it creative, make it fun and the Myntra Brand Team
                                will be listening.<br></p>
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-3">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image"
                                            src="https://entrackr.com/wp-content/uploads/2017/12/myntra-image-3.jpg">
                                    </div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://i.ytimg.com/vi/2o2uy1VYxus/maxresdefault.jpg"
                                            alt="Slide Image"></div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://www.dealsshutter.com/uploads/social_images/stores/myntra-social-12-oct-1539335161.png"
                                            alt="Slide Image"></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-3" role="button"
                                        data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                            class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                        href="#carousel-3" role="button" data-bs-slide="next"><span
                                            class="carousel-control-next-icon"></span><span
                                            class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <p>Someone says ‘Oh, that dress is too bold’ ‘Are you sure you’re the right size for this?’
                                ‘Maybe you should pick a colour that suits you’ or ‘Act your age and wear something
                                else’, go ahead and do exactly what you please. When it comes to great style and
                                personal expression, there should never be any regrets.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Myntra Website<br></li>
                                <li><a target="_blank" href="https://www.myntra.com/"><button class="btn btn-primary"
                                            type="button"
                                            style="border-radius: 59px;color: var(--bs-white);background: var(--bs-pink);">Myntra</button></a>
                                </li>
                            </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i
                                    class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--3-->

<!--4-->
<section id="about" style="background-color: rgb(165, 159, 159);">
    <div class="container" data-bss-hover-animate="bounce" style="text-align: center;padding-top: 18px; margin-bottom: 15px;">
        <div class="row">
            <div class="site-heading">
                <h1 style="color: rgb(0, 0, 0);font-size: 60px;">About Me</h1>
            </div>
        </div>
    </div>   
</section>
<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div>
                <div style="margin-top: 20px;text-align: center">
                    <h2><b>Ganesh</b></h2>
                    <h6><p>Trainee</p></h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!--4-->

<!--5-->
<footer style="padding-top: 20px;padding-bottom: 20px;text-align: center;background-color: #343a40;">
    <div class="row">
        <div class="col-md-3"><span class="copyright">Copyright© Today's Deals 2022</span></div>
        <div class="col-md-2">
            <ul class="list-inline social-buttons">
                <li class="list-inline-item"><a href="https://github.com/Ganesh1109" target="_blank"><i
                            class="fa fa-github"></i></a></li>
                <li class="list-inline-item"><a data-bss-hover-animate="pulse"
                        href="https://www.instagram.com/ganesh.svss/" target="_blank"><i
                            class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/svss-ganesh-8894561a2/"
                        target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
<!--5-->
